* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8B7355;
  min-height: 100vh;
}

code {
  font-family: 'Times New Roman', Times, serif;
}

